<a href="https://colab.research.google.com/github/Nastasiya31/project_01/blob/main/homeworks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задача 1.1

In [ ]:
# Есть строка с перечислением песен

my_favorite_songs = 'Waste a Moment, Staying\' Alive, A Sorta Fairyystale, Start Me Up, New Salvation'

# Выведите на консоль с помощью индексации строки, последовательно: первый трек, последний, второй, второй с конца
# Нельзя переопределять my_favorite_songs  и запятая не должна выводиться.


# РЕШЕНИЕ:

In [ ]:
# первый трек
my_favorite_songs.split(',')[0]

'Waste a Moment '

In [ ]:
# последний трек
my_favorite_songs.split(',')[4]

' New Salvation'

In [ ]:
# второй трек
my_favorite_songs.split(',')[1]

" Staying' Alive"

In [ ]:
# второй трек с конца
my_favorite_songs.split(',')[-2]

' Start Me Up'

# Задача 1.2

In [ ]:
## Пункт B. 
# Есть словарь песен 
# Распечатайте общее время звучания трех случайных песен
# Вывод: Три песни звучат ХХХ минут.

my_favorite_songs_dict = {
    'Waste a Moment': 3.03,
    'New Salvation': 4.02,
    'Staying\' Alive': 3.40,
    'Out of Touch': 3.03,
    'A Sorta Fairytale': 5.28,
    'Easy': 4.15,
    'Beautiful Day': 4.04,
    'Nowhere to Run': 2.58,
    'In This World': 4.02,
}
# Решение
summ = 0 # Вначале устанавливаю сумму равной нулю 
n = int(input("Сколько песен выбрать? ")) 
for i in range(n): 
    name = input("Название "+str(i+1)+" песни: ") 
    time = my_favorite_songs_dict[name] 
    summ = summ + time 
print("Общее время звучания песен:",summ," минут")

Сколько песен выбрать? 3
Название 1 песни: Beautiful Day
Название 2 песни: Waste a Moment
Название 3 песни: Easy
Общее время звучания песен: 11.22  минут

In [ ]:
# Пункт A. 
# Приведем плейлист песен в виде списка списков
# Список my_favorite_songs содержит список названий и длительности каждого трека
# Выведите общее время звучания трех случайных песен в формате
# Три песни звучат ХХХ минут

my_favorite_songs = [
    ['Waste a Moment', 3.03],
    ['New Salvation', 4.02],
    ['Staying\' Alive', 3.40],
    ['Out of Touch', 3.03],
    ['A Sorta Fairytale', 5.28],
    ['Easy', 4.15],
    ['Beautiful Day', 4.04],
    ['Nowhere to Run', 2.58],
    ['In This World', 4.02],
]
# Решение
def main():
    variable = 0
    for i in my_favorite_songs:
        print(i[0])
        if i[0] == 'New Salvation':
            variable += i[1]
        elif i[0] == 'Out of Touch':
            variable += i[1]
        elif i[0] == 'Easy':
            variable += i[1]
    print(f"Три песни звучат {variable} минут")
if __name__ == '__main__':
    main()

Waste a Moment
New Salvation
Staying' Alive
Out of Touch
A Sorta Fairytale
Easy
Beautiful Day
Nowhere to Run
In This World
Три песни звучат 11.2 минут

In [ ]:
# Пункт C.
# Сгенерируйте  случайные песни с помощью модуля random
# импортировать случайным образом
my_favorite_songs={'Waste a Moment': 3.03,
    'New Salvation': 4.02,
    'Staying\' Alive': 3.40,
    'Out of Touch': 3.03,
    'A Sorta Fairytale': 5.28,
    'Easy': 4.15,
    'Beautiful Day': 4.04,
    'Nowhere to Run': 2.58,
    'In This World': 4.02,
}
my_favorite_songs_lst=list(my_favorite_songs.items())
import random
random_songs=random.sample(my_favorite_songs_lst,3)
print(random_songs)

[('Out of Touch', 3.03), ('Beautiful Day', 4.04), ('Waste a Moment', 3.03)]

In [ ]:
# Пункт D.
# Переведите минуты и секунды в формат времени. Используйте модуль datetime 
# Три песни звучат 11.2 минут
import datetime
sec= 672
res = datetime.timedelta(seconds =sec)
print(res)

0:11:12

# Задача 1.3

In [ ]:
# Напишите скрипт, который принимает от пользователя номер месяца, 
# а возвращает количество дней в нем.
# Результат проверки вывести на консоль
# Допущение: в феврале 28 дней
# Если номер месяца некорректен - сообщить об этом
# Например,
    # Введите номер месяца: 3
    # Вы ввели март. 31 дней
    # Введите номер месяца: 2
    # Вы ввели февраль. 28 дней
    # Введите номер месяца: 15
    # Такого месяца нет!
    
# Решение:

nb=int(input())
m_th={1:'Январь-31 день', 2:'Февраль-28 день',3:'Март-31 день',4:'Апрель-30 дней', 5:'Май-31 день', 6:'Июнь-30 дней', 7:'Июль-31 день', 8:'Август-31 день', 9:'Сентябрь-30 дней', 10:'Октябрь-31 день', 11:'Ноябрь-30 дней', 12:'Декабрь-31 день'}
if nb<13:
  print(m_th[nb])
else:print("Такого месяца нет")

5
Май-31 день

# Задача 1.4

In [ ]:
# Есть словарь кодов товаров titles

titles = {
    'Кроссовки тип 3 (Adidas)': '100000110',
    'Мячик тип 2 (Adidas)': '100000146',
    'Кепка тип 1 (Adidas)': '100000149',
    'Ремень тип 2 (Nike)': '100000194',
    'Футболка тип 1 (Adidas)': '100000224',
    'Шапка тип 5 (Puma)': '100000280',
}
# Товары находятся на складе и сохранены в виде словаря списков словарей,
# которые отражают количество товаров в магазине по каждому коду.
store = {
    '100000110': [{'quantity': 31, 'price': 1637}],
    '100000146': [ {'quantity': 4, 'price': 45}, {'quantity': 10, 'price': 48}],
    '100000149': [ {'quantity': 28, 'price': 279}, {'quantity': 32, 'price': 291}],
    '100000194': [{'quantity': 8, 'price': 220}, {'quantity': 1, 'price': 170}],
    '100000224': [{'quantity': 61, 'price': 438}, {'quantity': 23, 'price': 302},  {'quantity': 50, 'price': 412}],
    '100000280': [{'quantity': 26, 'price': 175}, ]
}
# Рассчитайте на какую сумму лежит каждого товара на складе.
#
# Вывести суммарную стоимость каждого товара в магазине в формате:
# "<товар> - <кол-во> шт, стоимость <общая стоимость> руб"
# Пример: "Кроссовки тип 3 (Adidas) - 31 шт, стоимость 50747 руб"

#Решение:

for name_titles in titles:
    code_titles = titles[name_titles]
    total_price = 0
    total_quantity = 0
    for quantity_price in store[code_titles]:
        total_price = total_price + quantity_price['quantity'] * quantity_price['price']
        total_quantity += quantity_price['quantity']
    print(name_titles, '-', total_quantity, 'шт, общей стоимостью', total_price, 'рублей.')

Кроссовки тип 3 (Adidas) - 31 шт, общей стоимостью 50747 рублей.
Мячик тип 2 (Adidas) - 14 шт, общей стоимостью 660 рублей.
Кепка тип 1 (Adidas) - 60 шт, общей стоимостью 17124 рублей.
Ремень тип 2 (Nike) - 9 шт, общей стоимостью 1930 рублей.
Футболка тип 1 (Adidas) - 134 шт, общей стоимостью 54264 рублей.
Шапка тип 5 (Puma) - 26 шт, общей стоимостью 4550 рублей.

# Задача 2.1

In [ ]:
# Задача 2.1. 

# Создайте две функции maximum и minimum,
# которые получают список целых чисел в качестве входных данных 
# и возвращают наибольшее и наименьшее число в этом списке соответственно.
# Например,
# * [4,6,2,1,9,63,-134,566]         -> max = 566, min = -134
# * [-52, 56, 30, 29, -54, 0, -110] -> min = -110, max = 56
# * [42, 54, 65, 87, 0]             -> min = 0, max = 87
# * [5]                             -> min = 5, max = 5
# функции max и min использовать нельзя!

# Решение

A=[10, -7, 135, 9, 76, 86, 4, 666]
m_max = A[0]
m_min = A[0]
for i in A:
    if m_max < i:
        m_max = i
    if m_min > i:
        m_min = i

print(f'Максимальное: {m_max}' , f'Минимальное: {m_min}' )

Максимальное: 666 Минимальное: -7

# Задача 2.2

In [ ]:
# Напишите функцию, которая возвращает номер квартал по номеру месяца
# Например: 
# месяц 2 (февраль) является частью первого квартала; 
# месяц 6 (июнь) является частью второго квартала; 
# месяц 11 (ноябрь) является частью четвертого квартала.

# Решение

def get_quarter(month):
    quarter_dictionary = {
        "Q1" : [1, 2, 3],
        "Q2" : [4, 5, 6],
        "Q3" : [7, 8, 9],
        "Q4" : [10, 11, 12]}

    for key,values in quarter_dictionary.items():
        for value in values:
            if value == month:
                return key

print(get_quarter(5))

Q2

# Задача 2.3

In [ ]:
# Напишите функцию, которая принимает цифры от 0 до 9 и возвращает значение прописью.
# Например,
# switch_it_up(1) -> 'One'
# switch_it_up(3) -> 'Three'
# switch_it_up(10000) -> None
# Использовать условный оператор if-elif-else нельзя!

# Решение:
New_words = input('New: ')
numbered_words = {
    '0': 'zero',
    '1': 'one',
    '2': 'two',
    '3': 'three',
    '4': 'four',
    '5': 'five',
    '6': 'six',
    '7': 'seven',
    '8': 'eight',
    '9': 'nine'
}
output = ""
for ch in New_words:
    output += numbered_words.get(ch, "!") + " "
New_words = numbered_words

print(output)

New: 0
zero

# Задача 2.4

In [ ]:
# Задача 2.4.

# Пункт A.
# Напишите функцию, которая удаляет все восклицательные знаки из заданной строк.
# Например,
# foo("Hi! Hello!") -> "Hi Hello"
# foo("") -> ""
# foo("Oh, no!!!") -> "Oh, no"

def remove_exclamation_marks(s):
    pass

# Решение:

import re
 
if __name__ == '__main__':
 
    s = 'Hi! Hello!'
 
    s = re.sub(r'[.,"\'-?:!;]', '', s)
    print(s)

Hi Hello

In [ ]:
# Пункт B.
# Удалите восклицательный знак из конца строки. 
# remove("Hi!") == "Hi"
# remove("Hi!!!") == "Hi!!"
# remove("!Hi") == "!Hi"

def remove_last_em(s):
    pass


import string
print('Hi!!!'.rstrip(string.punctuation))

Hi

In [ ]:
# Пункт С.
# Удалите слова из предложения, если они содержат ровно один восклицательный знак.
# Слова разделены одним пробелом.
# Например,
# remove("Hi!") === ""
# remove("Hi! Hi!") === ""
# remove("Hi! Hi! Hi!") === ""
# remove("Hi Hi! Hi!") === "Hi"
# remove("Hi! !Hi Hi!") === ""
# remove("Hi! Hi!! Hi!") === "Hi!!"
# remove("Hi! !Hi! Hi!") === "!Hi!"

def remove_word_with_one_em(s):
    pass

    #Решение
text = {"Hi!", "Hi",
    "Hi!!!","Hi!!",
    "!Hi", "!Hi",
    "!Hi!", "!Hi",}
import re
re.sub(r' (\b\w+)\s+\1', r'\1', text)

TypeError: ignored

# Задача 3.1.

In [ ]:
# Задача 3.1.
# Создайте класс матрицы (или таблицы).
# Требования к классу:
# - каждая колонка является числом от 1 до n (n любое число, которые вы поставите!)
# - в каждой ячейке содержится либо число, либо None
# - доступы следующие методы матрицы:
# * принимать новые значения, 
# * заменять существующие значения, 
# * выводить число строк и колонок.

# Пример матрицы 10 на 10 из единиц:
# [[1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
#  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

# Примечание! 
# - новый класс не запрещено строить на базе существующих типов данных: списков, словарей и тд.
# - отображать в таблице/матрице название колонки не обязательно!
# - использовать готовые классы numpy.array() и pandas.DataFrame() запрещено!
# - проявите фантазию :)

#Решение

size = int(input('Введите размер таблицы: '))
for row in range(1, size + 1):
    for col in range(1, size + 1):
        if row % 2 == 0:
            print(row, end='\t')
        else:
            print(col, end='\t')
    print()

Введите размер таблицы: 7
1	2	3	4	5	6	7
2	2	2	2	2	2	2
1	2	3	4	5	6	7
4	4	4	4	4	4	4
1	2	3	4	5	6	7
6	6	6	6	6	6	6
1	2	3	4	5	6	7

# Задача 4.1

In [ ]:
# Задача 4.1.
# Домашнее задание на SQL

# В базе данных teacher создайте таблицу Students

# Структура таблицы: Student_Id - Integer, Student_Name - Text, School_Id - Integer (Primary key)

# Наполните таблицу следующими данными:

# 201, Иван, 1
# 202, Петр, 2
# 203, Анастасия, 3
# 204, Игорь, 4

# Напишите программу, с помощью которой по ID студента можно получать информацию о школе и студенте.

# Формат вывода:

# ID Студента:
# Имя студента:
# ID школы:
# Название школы:

#Решение

import sqlite3
import pandas as pd
con = sqlite3.connect("teachers(1).db")
df.to.exel("students.xlsx",)